@model Organizainador.Models.ActividadModel

@{
    ViewData["Title"] = "Detalles de la Actividad";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-info">
                        <i class="fas fa-eye me-1"></i> Detalles de la Actividad
                    </h6>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Etiqueta)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Etiqueta)
                        </dd>

                        @{
                            var horario = Model.Horarios?.FirstOrDefault();
                        }

                        @if (horario != null)
                        {
                            <dt class="col-sm-3">
                                Fecha
                            </dt>
                            <dd class="col-sm-9">
                                @horario.Fecha?.ToString("dd/MM/yyyy")
                            </dd>

                            <dt class="col-sm-3">
                                Hora de Inicio
                            </dt>
                            <dd class="col-sm-9">
                                @horario.HoraInicio.ToString(@"hh\:mm")
                            </dd>

                            <dt class="col-sm-3">
                                Hora de Fin
                            </dt>
                            <dd class="col-sm-9">
                                @horario.HoraFin.ToString(@"hh\:mm")
                            </dd>
                        }
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-1"></i> Volver al Listado
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
                        <i class="fas fa-edit me-1"></i> Editar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>